@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 200;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: #111;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-image: repeating-linear-gradient(
      45deg,
      #fff 0px,
      #fff 1px,
      transparent 1px,
      transparent 40px
    ),
    repeating-linear-gradient(
      -45deg,
      #fff 0px,
      #fff 1px,
      transparent 1px,
      transparent 40px
    );
  background-size: 80px 80px;
  animation: moveLines 30s linear infinite;
  opacity: 0.08;
  z-index: -1;
}

@keyframes moveLines {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-80px, -80px);
  }
}

body::after {
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: radial-gradient(#fff 1px, transparent 1px);
  background-size: 20px 20px;
  animation: moveParticles 60s linear infinite;
  opacity: 0.05;
  z-index: -1;
}

@keyframes moveParticles {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}

main {
  flex: 1;
}

p {
  width: 60%;
  font-size: 20px;
  justify-self: center;
}

h2 {
  font-weight: 600;
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 99;
  width: 100%;
  top: 0;
}

.navbar img {
  height: 140px;
  width: 140px;
}

.items-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.nav-a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
}

.icon {
  color: #ffffff;
  font-size: 56px;
  &:hover {
    color: #0dc7e3;
  }
}

.nav-a::after {
  content: "";
  width: 0;
  display: block;
  background-color: #0dc7e3;
  transition: all 0.2s;
  height: 3px;
}

.nav-a:hover::after {
  width: 100%;
}

.initial-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  height: 100dvh;
}

.initial-banner h1 {
  font-size: 36px;
}

.initial-banner p,
.initial-banner h1 {
  z-index: 100;
  text-align: center;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  color: white;
}

.about-me h2 {
  color: #0dc7e3;
  font-size: 26px;
}

.lenguaje-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.lenguaje-container h3 {
  color: #0dc7e3;
}

.lenguajes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lenguajes img {
  height: 80px;
  width: 80px;
  object-fit: contain;
}

.background-image {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container h2 {
  color: #0dc7e3;
}

.projects-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: 250px;
  width: 380px;
  padding-bottom: 300px;
  border-radius: 10px;
  cursor: pointer;
}

.projects-card img {
  height: 280px;
  width: 380px;
  object-fit: contain;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-info h2 {
  color: #ffffff;
  font-size: 24px;
}

.card-tec {
  display: flex;
  gap: 20px;
}

.card-tec img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-top: 10px;
}

.btn-mobile {
  display: none;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.btn-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

.btn-card {
  text-decoration: none;
  color: white;
  font-size: 28px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 20px;
  gap: 20px;
}

.contact h2 {
  color: #0dc7e3;
}

.social-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.social-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 40px;
  gap: 8px;
  cursor: pointer;
}

.social-card a {
  text-decoration: none;
}

.social-card.github a {
  color: #fff;
}
.social-card.instagram a {
  color: #e1306c;
}
.social-card.linkedin a {
  color: #0077b5;
}

.social-card.github {
  border: 1px solid #fff;
}

.social-card.instagram {
  border: 1px solid #e1306c;
}

.social-card.linkedin {
  border: 1px solid #0077b5;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-container {
  position: relative;
  margin: 50px auto;
  width: 600px;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  color: white;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #0dc7e3;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #0dc7e3;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}

.btn-form {
  padding: 0.8em 1.8em;
  border: 2px solid #0dc7e3;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  z-index: 1;
  font-family: inherit;
  color: #0dc7e3;
  border-radius: 6px;
}

.btn-form::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #0dc7e3;
  transition: 0.2s ease;
  display: block;
  z-index: -1;
}

.btn-form:hover::before {
  width: 105%;
}

.btn-form:hover {
  color: #111;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.loaded {
  opacity: 1;
  transform: translateY(0);
}

.project-info-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  margin-top: 120px;
  padding: 0 60px;
  color: #ffffff;
  border-radius: 15px;
  margin-bottom: 20px;
}

.project-resume {
  width: 100%;
}

.banner-project-img {
  flex: 1;
  max-width: 60%;
  object-fit: cover;
  border-radius: 12px;
}

.project-data {
  flex: 1;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project-info-a.deploy {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0dc7e3;
  border: 1px solid #0dc7e3;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 40px;
}

.project-info-a.repository {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 40px;
}

.carousell {
  flex: 1;
  max-width: 60%;
  position: relative;
}

.btn-carousell {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-carousell.back {
  left: 0;
}

.btn-carousell.next {
  right: 0;
}

.banner-project-img.relative {
  flex: 1;
  max-width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/*------MEDIA QUERIES DE NAVBAR-------*/

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .input-container {
    width: 90%;
    justify-self: center;
  }

  .project-info-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #0077b5;
    padding: 0;
    justify-content: center;
  }

  .card-tec {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .project-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

#btn-mobile {
  color: white;
}
