@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 200;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: #111;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-image: repeating-linear-gradient(
      45deg,
      #fff 0rem,
      #fff 0.0625rem,
      transparent 0.0625rem,
      transparent 2.5rem
    ),
    repeating-linear-gradient(
      -45deg,
      #fff 0rem,
      #fff 0.0625rem,
      transparent 0.0625rem,
      transparent 2.5rem
    );
  background-size: 5rem 5rem;
  animation: moveLines 30s linear infinite;
  opacity: 0.08;
  z-index: -1;
}

@keyframes moveLines {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-5rem, -5rem);
  }
}

body::after {
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: radial-gradient(#fff 0.0625rem, transparent 0.0625rem);
  background-size: 1.25rem 1.25rem;
  animation: moveParticles 60s linear infinite;
  opacity: 0.05;
  z-index: -1;
}

@keyframes moveParticles {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(6.25rem, 6.25rem);
  }
}

main {
  flex: 1;
}

p {
  width: 60%;
  font-size: 1.25rem;
  justify-self: center;
}

h2 {
  font-weight: 600;
  text-align: center;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  color: white;
}

.navbar-mobile {
  display: none;
}

svg {
  width: 1.75rem;
}

.home-logo {
  color: #2563eb;
}

.about-me-logo {
  color: #9333ea;
}

.projects-logo {
  color: #f59e0b;
}

.contact-logo {
  color: #16a34a;
}

.more-information-logo {
  color: #dc2626;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.625rem);
  z-index: 99;
  width: 100%;
  top: 0;
}

.navbar img {
  height: 8.75rem;
  width: 8.75rem;
}

.items-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.25rem;
  list-style: none;
}

.nav-a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.125rem;
}

.icon {
  color: #ffffff;
  font-size: 3.5rem;
  &:hover {
    color: #0dc7e3;
  }
}

.nav-a::after {
  content: "";
  width: 0;
  display: block;
  background-color: #0dc7e3;
  transition: all 0.2s;
  height: 0.1875rem;
}

.nav-a:hover::after {
  width: 100%;
}

.initial-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 100dvh;
}

.initial-banner h1 {
  font-size: 2.25rem;
}

.initial-banner p,
.initial-banner h1 {
  text-align: center;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.5rem;
  color: white;
}

.about-me h2 {
  color: #0dc7e3;
  font-size: 1.625rem;
}

.lenguaje-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.lenguaje-container h3 {
  color: #0dc7e3;
}

.lenguajes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.lenguajes img {
  height: 5rem;
  width: 5rem;
  object-fit: contain;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container h2 {
  color: #0dc7e3;
}

.projects-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: 15.625rem;
  width: 23.75rem;
  padding-bottom: 18.75rem;
  border-radius: 0.625rem;
  cursor: pointer;
}

.projects-card img {
  height: 17.5rem;
  width: 23.75rem;
  object-fit: contain;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-info h2 {
  color: #ffffff;
  font-size: 1.5rem;
}

.card-tec {
  display: flex;
  gap: 1.25rem;
}

.card-tec img {
  height: 3.125rem;
  width: 3.125rem;
  object-fit: contain;
  margin-top: 0.625rem;
}

.btn-mobile {
  display: none;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  margin-top: 1.25rem;
}

.btn-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.625rem;
  gap: 1.25rem;
}

.btn-card {
  text-decoration: none;
  color: white;
  font-size: 1.75rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 1.25rem;
  gap: 1.25rem;
}

.contact h2 {
  color: #0dc7e3;
}

.social-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
  margin-top: 0.625rem;
}

.social-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 2.5rem;
  gap: 0.5rem;
  cursor: pointer;
}

.social-card a {
  text-decoration: none;
}

.social-card.github a {
  color: #fff;
}
.social-card.instagram a {
  color: #e1306c;
}
.social-card.linkedin a {
  color: #0077b5;
}

.social-card.github {
  border: 0.0625rem solid #fff;
}

.social-card.instagram {
  border: 0.0625rem solid #e1306c;
}

.social-card.linkedin {
  border: 0.0625rem solid #0077b5;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-container {
  position: relative;
  margin: 3.125rem auto;
  width: 37.5rem;
}

.input-container input[type="text"] {
  font-size: 1.25rem;
  width: 100%;
  border: none;
  border-bottom: 0.125rem solid #ccc;
  padding: 0.3125rem 0;
  background-color: transparent;
  outline: none;
  color: white;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -1.25rem;
  font-size: 1rem;
  color: #0dc7e3;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.125rem;
  width: 100%;
  background-color: #0dc7e3;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}

.btn-form {
  padding: 0.8em 1.8em;
  border: 0.125rem solid #0dc7e3;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  z-index: 1;
  font-family: inherit;
  color: #0dc7e3;
  border-radius: 0.375rem;
}

.btn-form::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #0dc7e3;
  transition: 0.2s ease;
  display: block;
  z-index: -1;
}

.btn-form:hover::before {
  width: 105%;
}

.btn-form:hover {
  color: #111;
}
.fade-in {
  opacity: 0;
  transform: translateY(1.25rem);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.loaded {
  opacity: 1;
  transform: translateY(0);
}

.project-info-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  width: 100%;
  margin-top: 7.5rem;
  padding: 0 3.75rem;
  color: #ffffff;
  margin-bottom: 1.25rem;
}

.project-resume {
  width: 100%;
}

.banner-project-img {
  flex: 1;
  max-width: 60%;
  object-fit: cover;
  border-radius: 0.75rem;
}

.banner-project-img.relative {
  flex: 1;
  max-width: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
}

.project-data {
  flex: 1;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.project-info-a.deploy {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0dc7e3;
  border: 0.0625rem solid #0dc7e3;
  padding: 0.625rem;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 2.5rem;
}

.project-info-a.repository {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 0.0625rem solid #fff;
  padding: 0.625rem;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 2.5rem;
}

.carousell {
  flex: 1;
  max-width: 60%;
  position: relative;
}

.btn-carousell {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-carousell.back {
  left: 0;
}

.btn-carousell.next {
  right: 0;
}

/*------MEDIA QUERIES DE NAVBAR-------*/

@media (max-width: 48rem) {
  * {
    font-size: 13px;
  }

  .navbar {
    display: none;
  }

  .input-container {
    width: 90%;
    justify-self: center;
  }

  .project-info-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
    margin-top: 1.25rem;
  }

  .project-data {
    width: 100%;
    max-width: none;
    padding: 0 1.25rem;
  }

  .banner-project-img {
    width: 100%;
    max-width: none;
    border-radius: 0;
  }

  .carousell {
    max-width: none;
    width: 100%;
  }

  .banner-project-img.relative {
    width: 100%;
    max-width: none;
    border-radius: 0;
  }

  .card-tec {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .about-me-p {
    width: 90%;
  }

  .lenguajes {
    gap: 1.6875rem;
  }

  .lenguajes img {
    width: 3.75rem;
  }

  .project-links {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .project-info-a {
    width: 100%;
  }

  .navbar-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 30px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 99;
  }

  .navbar-mobile button {
    background-color: transparent;
    border: 1px solid white;
    display: flex;
    border-radius: 10px;
    padding: 3px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .navbar-mobile button svg {
    background-color: transparent;
    height: 30px;
    width: 30px;
    color: white;
    pointer-events: none;
  }

  .menu-mobile {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: start;
    gap: 3px;
    justify-content: center;
    top: 10px;
    right: 40px;
    background-color: #111;
    width: 160px;
  }

  .menu-mobile.active {
    display: flex;
  }
}

#btn-mobile {
  color: white;
}
